<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="clock" />
      <div v-if="clock<17">
        <div>아직 준비할 항목:</div>
        <ul>
          <li v-for="l in list" :key="l">- {{l}}</li>
        </ul>
      </div>
      <div v-else>
        마감 임박! 아래 항목 중 마지막으로 남은 준비: {{list.at(-1)}}
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: "App",
        data() {
          return {
            list: ["편지 작성", "편지 검토", "봉투 밀봉", "스탬프 찍기"],
            clock: "0",
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
