<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      이름: <input type="text" v-model="name" /> <br />
      나이: <input type="number" v-model="age" /> <br />
      <button @click="onClick">입학 승인</button>
      <div v-if="nameNumber">⚠ 이름에는 숫자를 포함할 수 없습니다.</div>
      <div v-if="nameLength">⚠ 이름은 2글자 이상 입력해주세요.</div>
      <div v-if="ageRange">⚠ 나이는 11세 이상 18세 이하로 입력해주세요.</div>
      <div v-if="ok">{{name}},{{age}}세, 호그와트 입학을 축하합니다!</div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: "App",
        data() {
          return {
            name: "",
            age: 0,
            nameNumber: false,
            nameLength: false,
            ageRange: false,
            ok: false,
          };
        },
        methods: {
          onClick(e) {
            if (
              !/\d/.test(this.name) &&
              this.name.length >= 2 &&
              11 <= this.age &&
              this.age <= 18
            ) {
              this.ok = true;
              this.nameNumber = false;
              this.nameLength = false;
              this.ageRange = false;
            } else {
              if (/\d/.test(this.name)) {
                this.nameNumber = true;
                this.ok = false;
              }
              if (this.name.length < 2) {
                this.nameLength = true;
                this.ok = false;
              }
              if (this.age > 18 || this.age < 11) {
                this.ageRange = true;
                this.ok = false;
              }
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
